<form action="/logged" method="POST">
    <input type="text" name="email">
    <button type="submit">Login</button>
</form>

{{#if hasUsers}}
    {{#each users}}
        <h2> Hello {{this.name}}</h2>
    {{/each}}
    {{else}}
    <h2>Not Users Found!</h2>
{{/if}}
